<div id="courses-list" class="col-md-3">
  Loading...
</div>
<div class="col-md-3">
</div>
<div>
  <div id="chatroom" class="col-md-4">
    <%#render 'chat/chatroom', :messages => @messages, :course => @course, :location => @location, :chat => @chat %>
  </div>
  <div id="participants" class="col-md-2">
    <%#render 'chat/buddylist', :participants => @participants %>
  </div>
</div>
<div id="subscription">
</div>
