<div class="bs-component">
  <div class="list-group">
    <h2> Course Listing </h2>
    <%= form_tag find_path, :method => 'get', :class => 'form-search', :id => 'course-search', :autocomplete => 'off' do %>
      <%= text_field_tag :search, nil, :class => 'form-control', :placeholder => 'Search by course name.', :autofocus => true  %>
    <% end %>
    <div id="course-list">
      <%= render :partial => 'course_row',
                 :collection => courses,
                 :as => :course
       %>
     </div>
  </div>
</div>

