<a href= <%= get_buildings_for_course_path(course.id) %> id="course-<%=course.id%>" class="list-group-item course-link">
  <%=course.name%>
  <span class="badge"><%=course.number_of_students%> People</span>
</a>
