<div class="bs-component">
  <div class="list-group">
    <h2> Course Listing </h2>
    <%= render :partial => 'course_row',
               :collection => courses,
               :as => :course
     %>
  </div>
</div>

