<div class="bs-component">
  <div id="buildings-list" class="list-group">
    <h2>Location Listing</h2>
    <% if locations.empty? %>
      <%= render 'shared/alert_message', :message => "<strong>Pick a class to the left </strong> to find out where people are studying!"%>
    <% else %>
      <%= render :partial => 'location_row',
                 :collection => locations,
                 :as => :location,
                 locals: {:course => course}
       %>
     <% end %>
  </div>
</div>

