<div class="col-md-4">
  <%= render 'course_list', :courses => @courses %>
</div>
<div class="col-md-4">
  <%= render 'location_list', :locations => @locations %>
</div>
<div class="col-md-4">
  CHAT
</div>
<!--
<%= link_to 'Check-in', find_path, :class => 'btn btn-primary btn-lg' %>
<%= link_to 'Find Study Groups', find_path, :class => 'btn btn-primary btn-lg' %>
-->
