<div class="col-md-3">
  <%= render 'course_list', :courses => @courses %>
</div>
<div class="col-md-3">
  <%= render 'location_list', :locations => @locations, :course => nil%>
</div>
<div>
  <h2>Chat</h2>
<div id="chatroom" class="col-md-4">
  <%#render 'chat/chatroom', :messages => @messages, :course => @course, :location => @location, :chat => @chat %>
</div>
<div class="col-md-2">
  <%#render 'chat/buddylist', :participants => @participants %>
</div>
</div>
<div id="subscription">
</div>
<!--
<%= link_to 'Check-in', find_path, :class => 'btn btn-primary btn-lg' %>
<%= link_to 'Find Study Groups', find_path, :class => 'btn btn-primary btn-lg' %>
-->
